.cabecalho{
    box-sizing: border-box;
    
    width: 100%;
    height: 88px;

    background-color: #F8F9FA;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);

    padding: 0px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:500px){
    .cabecalho{
        padding: 0px 8%;
    }
}
